<!-- Include Label Studio stylesheet -->
<link href="https://unpkg.com/label-studio@0.4.0/build/static/css/main.14acfaa5.css" rel="stylesheet">
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://* 'unsafe-inline' 'unsafe-eval' ;  media-src *">

<!-- Create the Label Studio container -->
<div id="label-studio"></div>

<!-- Include the Label Studio library -->
<script src="js/inlabjs/main.js"></script>
<script src="/js/idp.js"></script>
<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
<!-- Initialize Label Studio -->
<script>

    window.onload = function() {
        var task_config = [{
            completions: [],
            predictions: [],
            id: 1,
            data: {
                text: "Với thực tế đó, ông Nhạ cho rằng nếu cố biên soạn một bộ sách sẽ không khả thi và cũng không đủ điều kiện đảm bảo chất lượng."
                
            }
        },
        
        {
            completions: [],
            predictions: [],
            id: 2,
            data: {
                text: "Hiện Bộ Giáo dục và Đào tạo mới thẩm định sách giáo khoa lớp 1 và đã có 5 bộ sách giáo khoa với đầy đủ các môn đạt thẩm định"
                
            }
        },
        {
            completions: [],
            predictions: [],
            id: 3,
            data: {
                text: "Chỉ trong một ngày 19/6, các lực lượng Công an tỉnh Sóc Trăng đã liên tiếp phá thành công 2 vụ án liên quan đến tàng trữ trái phép lượng lớn ma túy và giết người, thu giữ nhiều vũ khí, hung khí nguy hiểm."
                
            }
        },
        {
            completions: [],
            predictions: [],
            id: 4,
            data: {
                text: "Từ đêm 19/6 và trưa đến 20 giờ ngày 20/6, tại thành phố Đà Lạt và các vùng lân cận có mưa lớn kéo dài khiến mực nước tại các suối dâng nhanh, chia cắt các tuyến đường của các vận động viên tham gia chạy Giải này"
                
            }
        }
    ];
    
    var labelStudio = new LabelStudio('label-studio', {
        config: `
    <View>
        <Labels name="label" toName="text">
            <Label  value="Person" background="red"/>
            <Label value="Organization" background="darkorange"/>
            <Label value="Fact" background="orange"/>
            <Label value="Money" background="green"/>
            <Label value="Date" background="darkblue"/>
            <Label value="Time" background="blue"/>
            <Label value="Ordinal" background="purple"/>
            <Label value="Percent" background="#842"/>
            <Label value="Product" background="#428"/>
            <Label value="Language" background="#482"/>
            <Label value="Location" background="rgba(0,0,0,0.8)"/>
        </Labels>
    <Text name="text" value="$text"/>
    </View>
    `,

        interfaces: [
            "panel",
            "update",
            "controls",
        ],

        user: {
            pk: 1,
            firstName: "Mậu",
            lastName: "Nguyễn"
        },

        task: task_config[0],

        onLabelStudioLoad: function (LS) {
            var c = LS.completionStore.addCompletion({
                userGenerate: true
            });
            LS.completionStore.selectCompletion(c.id);

            
        },

        onSubmitCompletion: function(ls, completion) {
            console.log("completion", completion);
            console.log(task_config[1])
            //ls.resetState();
            //console.log(ls.resetState)

            var response = task_config[Math.floor(Math.random() * task_config.length)] ;

            console.log("response", response)
            response.data = JSON.stringify(response.data)
            ls.assignTask(response);
            //console.log(ls.assignTask)
            
            ls.initializeStore(_convertTask(response));
            let cs = ls.completionStore;
            let c;
            if (cs.predictions.length > 0) {
            c = ls.completionStore.addCompletionFromPrediction(cs.predictions[0]);
            }
            else {
            c = ls.completionStore.addCompletion({ userGenerate: true });
            }

            cs.selectCompletion(c.id);

            ls.setFlags({ isLoading: false });
            console.log("Re-assisgned!")
            
        },

        onEntityCreate: function(region) {
            console.log(region);
            //getNewData();
            //task_config.data.image = "https://htx-misc.s3.amazonaws.com/opensource/label-studio/examples/images/nick-owuor-astro-nic-visuals-wDifg5xc9Z4-unsplash.jpg";
            // labelStudio.task.data.image = "https://htx-misc.s3.amazonaws.com/opensource/label-studio/examples/images/nick-owuor-astro-nic-visuals-wDifg5xc9Z4-unsplash.jpg"
        }
        });
    }

    
   
</script>