<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/result2.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600&display=swap" rel="stylesheet">
    <title>Kết quả - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
    <script>
        var audioright = new Audio('/audio/correct1.mp3');
        audioright.play();
    </script>
</head>
<body onload="move()">
    <div id="content" clas="container">
            <!-- Người mù nghe được -->
            <div style = "opacity: 0"> Bạn đã hoàn thành được 2/3 chặng đường rồi đó! Cố lên nhé </div>
            
            <!-- Người mù ko nghe được -->
            <div class="flex-container">
                <div class="empty">
                </div>
                <div id="title" >Bạn đang làm rất tốt, tiếp tục nhé!</div>
                <img src="/img/flag.png" >
                <div id="myProgress">
                    <div id="myBar"></div>
                </div>
            </div>
            
            <!-- Người mù nghe được -->
            <div class="flex-container" >
            <button id="next-btn" class="next-btn btn" onclick="nextTask();">Tiếp tục</button>
        </div>

        </div>
    <script>
        var i = 0;
        function move() {
            if (i == 0) {
                i = 1;
                var elem = document.getElementById("myBar");
                var width = 10;
                var id = setInterval(frame, 10);
                function frame() {
                //tuỳ chặng sẽ đổi ở đây    
                if (width >= 66) {
                    clearInterval(id);
                    i = 0;
                } else {
                    width++;
                    elem.style.width = width + "%";
                    elem.innerHTML = width + "%";
                }
                }
            }
        }

        function nextTask() {
            window.location.href = '/training_topic';
        }
    </script>
</body>
</html>