<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8">
        <title>Giới thiệu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600&display=swap" rel="stylesheet">
        <link href="/css/about.css" rel="stylesheet">
        <link rel="shortcut icon" href="#">
    </head>

    <body >
        <div class = "container">
        <div class = "bar"><p>Dự án ứng dụng <b><i>dán nhãn dữ liệu</i></b> dành cho người mù</p></div>
            <div class = "center-heading">
                <h2>Tổng quan</h2>
            </div>
            <div class = "line">
                <p>Sự cần thiết của một hệ thống tạo việc làm cho người khuyết tật</p>
            </div>
                <div class = "text-image-container">

                    <div class = "text-image">                        
                        <a href= https://www.vietnamplus.vn/moi-nam-viet-nam-co-khoang-41000-tre-bi-di-tat-bam-sinh/521302.vnp style="text-decoration: none;">
                            Mỗi năm Việt Nam có khoảng 41.000 trẻ bị dị tật bẩm sinh
                        </a>
                        <img src="/img/ttxvn_sang_loc_so_sinh.jpg" alt="nurse-image" >
                    </div>
    
                    <div class = "text-image"><a href= http://www.gopfp.gov.vn/so-6-123;jsessionid=6A7649EBA0FFE29566A22E29681FD16F?p_p_id=62_INSTANCE_Z5vv&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-3&p_p_col_count=1&_62_INSTANCE_Z5vv_struts_action=%2Fjournal_articles%2Fview&_62_INSTANCE_Z5vv_groupId=18&_62_INSTANCE_Z5vv_articleId=27504&_62_INSTANCE_Z5vv_version=1.0 style="text-decoration: none;">
                        Tại Việt Nam, theo kết quả Tổng điều tra dân số và nhà ở 2009, có khoảng 12,1 triệu người khuyết tật từ mức “khó khăn”, chiếm 15,5% dân số từ 5 tuổi trở lên
                        </a>
                        <img src="/img/07-xoa-rao-can-480060717.jpg" alt="teaching-image" >
                    </div>

                    <div class = "text-image">
                        <a href=http://www.gopfp.gov.vn/so-6-123;jsessionid=6A7649EBA0FFE29566A22E29681FD16F?p_p_id=62_INSTANCE_Z5vv&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-3&p_p_col_count=1&_62_INSTANCE_Z5vv_struts_action=%2Fjournal_articles%2Fview&_62_INSTANCE_Z5vv_groupId=18&_62_INSTANCE_Z5vv_articleId=27504&_62_INSTANCE_Z5vv_version=1.0 style="text-decoration: none;"> 
                        Trong đó có 574.000 người khuyết tật loại đặc biệt nặng (không thể nhìn, nghe, vận động hoặc ghi nhớ
                        </a>
                        <img src="/img/truong-hop-duoc-ho-tro-kinh-phi-cham-soc-nguoi-khuyet-tat1449712669.jpg" alt="caring-image" >
                    </div>

                </div>
                

            <div class= "grey-box">

                <div class = "grey-box-heading">   
                    <h2>Giới thiệu dự án</h2>
                </div>
                
                <div class = "grey-box-content">
                    <p><b>Một nền tảng crowdsourcing (nguồn lực cộng đồng) hỗ trợ các cá nhân, tổ chức, doanh nghiệp hoàn thành công việc, nhiệm vụ bằng cách cộng tác với lực lượng lao động bên ngoài. Ví dụ: dán nhãn dữ liệu, xác thực thông tin, khảo sát nhanh, content making, ... </b>
                    </p>
                    <p><i>Nền tảng này có thể trợ thành trợ thủ đắc lực cho các nhà phát triển, công ty, tổ chức cần nhiều dữ liệu trong việc nghiên cứu, thử nghiệm, áp dụng các mô hình học máy</i>
                    </p>
                    <p>Thời gian phát triển dự án: Quý I năm 2020</p>
                </div>

            </div>


            <div class = "center-heading">
            <h2>Một số việc trên hệ thống mà người khuyết tật có thể làm:</h2>  
        </div>
            <div class = "box-container">  
                <div class = "box">
                Dán nhãn dữ liệu âm thanh 
                </div>             
                <div class = "box">
                Tạo dữ liệu âm thanh để tổng hợp giọng nói
                </div>
                <div class = "box">
                 Tạo văn bản dạng hội thoại 
                </div>
                <div class = "box">
                 Phân loại văn bản 
                </div>
                <div class = "box">
                 Phân loại hình ảnh
                </div>
                <div class = "box">
                 Đánh giá độ hoàn thiện chatbot 
                </div>
            </div> 



            <div class = "grey-box">
                <div class = "grey-box-heading">
                    <h3>Chức năng của hệ thống:</h3>
                </div>
                <div class = "grey-box-content-2">
                    <p>Quản lý giao nhận dữ liệu cần dán nhãn từ các doanh nghiệp AI </p>
                      <p>  Quản lý lưu trữ dữ liệu tập trung</>
                    <p>Quản lý phân loại, tổ chức dữ liệu phục vụ dán nhãn dữ liệu</p>
                    <p>Quản lý người dùng</p>
                    <p>Quản lý giao nhận dữ liệu từ CSDL đến thiết bị (smartphone)</p>
                    <p>người khiếm thị dán nhãn dữ liệu</p>
                        <p> Giao diện người khiếm thị nhận và thực hiện dán nhãn dữ liệu</p>
                            <p>Quản lý sản phẩm dán nhãn và tiền công</p>
                </div>
                
            </div> 

            <div>
                <p>Developed by team Javy, a member of InfoRe Technology</p>

            </div>

        </div>
    </div>
    </div> 
    </ol>           
    </body>
</html>