<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="/css/about2.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Inlab - Giới thiệu</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>

</head>
<body data-spy="scroll" data-target="#navbar-example">
        <!-- First part -->
        <div class="overlay p-2" id="first">
                <nav class="navbar navbar-expand-lg navbar-dark" id="navbar-example">
                    <a class="navbar-brand" >
                        <img src="/img/logo.png" class="logo">
                    </a>
                    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                      <div class="nav navbar-nav justify-content-between">
                        <a href="#first" class="nav-item nav-link pr-5">Tổng quan</a>                
                        <a href="#second" class="nav-item nav-link pr-5" >Giới thiệu</a>
                        <a href="#third" class="nav-item nav-link pr-5">Vấn đề</a>
                        <a href="#fourth" class="nav-item nav-link pr-5">Ứng dụng</a>
                        <a href="/login" class="nav-item nav-link pr-5">Đăng nhập</a>
                      </div>
                    </div>
                  </nav>
                
                <div class="header-box d-flex justify-content-end flex-column ml-3 mb-3">
                    <div class="heading" data-aos="fade-up" data-aos-duration="1000">Welcome to InLab!</div>
                    <div class="second-heading" data-aos="fade-down" data-aos-duration="1000">A data labeling platform for the blind</div>
                    <a type="button" href="#second" class="btn btn-outline-warning startbtn nav-item nav-link ">Bắt đầu!</a>
                </div>
                  
        </div>


        <!-- Second part -->

        <div class="bg2 d-flex flex-column justify-content-center align-items-center " id="second">
            <div class="heading-text text-warning " data-aos="fade-right" data-aos-duration="1200">GIỚI THIỆU</div>
            <div class="content text-white text-wrap text-center pt-4  " data-aos="fade-left" data-aos-duration="1200">Một nền tảng crowdsourcing (nguồn lực cộng đồng) hỗ trợ các cá nhân, tổ chức, doanh nghiệp hoàn thành công việc, nhiệm vụ bằng cách cộng tác với lực lượng lao động bên ngoài. Ví dụ: dán nhãn dữ liệu, xác thực thông tin, khảo sát nhanh, content making, ...
                <br>
            Nền tảng này có thể trợ thành trợ thủ đắc lực cho các nhà phát triển, công ty, tổ chức cần nhiều dữ liệu trong việc nghiên cứu, thử nghiệm, áp dụng các mô hình học máy
            </div>
        </div>

        <!-- Third part -->

        <div class="bg3 bg-white d-flex flex-column justify-content-center align-items-center " id="third">
            <div class="heading-text text-dark " data-aos="fade-up" data-aos-duration="1200">VẤN ĐỀ</div>

            <div class="vande-content d-flex flex-column justify-content-center justify-content-around pt-5">
                <div class="row"  data-aos="fade-up" data-aos-duration="1200">
                    <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                        <div class="text-warning h2"> 41.000</div>
                        <div class="h4">người</div>
                    </div>
                    <div class="col-8 d-flex align-items-center  ">
                        <div class="h3 "> Mỗi năm Việt Nam có khoảng 41.000 trẻ bị dị tật bẩm sinh</div>
                    </div>
                </div>
                <div class="row pt-5" data-aos="fade-up" data-aos-duration="1200">
                    <div class="col-4 d-flex flex-column justify-content-center align-items-center" >
                        <div class="text-warning h2"> 12.1</div>
                        <div class="h4">triệu người</div>
                    </div>
                    <div class="col-8 d-flex align-items-center  ">
                        <div class="h3 "> Tại Việt Nam, theo kết quả Tổng điều tra dân số và nhà ở 2009, có khoảng 12,1 triệu người khuyết tật từ mức “khó khăn”, chiếm 15,5% dân số từ 5 tuổi trở lên</div>
                    </div>
                </div>
                <div class="row pt-5"  data-aos="fade-up" data-aos-duration="1200">
                    <div class="col-4 d-flex flex-column justify-content-center align-items-center" >
                        <div class="text-warning h2"> 574.000</div>
                        <div class="h4">người</div>
                    </div>
                    <div class="col-8 d-flex align-items-center  ">
                        <div class="h3 "> Trong đó có 574.000 người khuyết tật loại đặc biệt nặng (không thể nhìn, nghe, vận động hoặc ghi nhớ</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth part -->
        <div  class="bg4  bg-white  d-flex flex-column align-items-center" id="fourth">
            <div class="heading-text text-dark " data-aos="zoom-in" data-aos-duration="1200" >ỨNG DỤNG</div>
            <div class="container d-flex justify-content-center align-items-center ">
                <div class="row" >
                  <div class="col-md d-flex flex-column align-items-center pt-5" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="/img/audio.png" class="image">
                    <div class="h3 text-center pt-3">Dán nhãn dữ liệu âm thanh</div>
                  </div>
                  <div class="col-md d-flex flex-column align-items-center pt-5" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="/img/micro.png" class="image">
                    <div class="h3 text-center pt-3">Tạo dữ liệu âm thanh để tổng hợp giọng nói</div>
                  </div>
                  <div class="col-md d-flex flex-column align-items-center pt-5" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="/img/speak.png" class="image">
                    <div class="h3 text-center pt-3">Tạo văn bản dạng hội thoại</div>
                  </div>
                </div>
              </div>
        </div>
        
        <!-- Footer -->
        <div class="footer d-flex align-items-center justify-content-center ">
            <div class="h3 text-center  text-white">Copyright © 2020 InLab. All rights reserved.
            </div>
        </div>    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

    <script>
        $(document).on('click',function(){
        $('.collapse').collapse('hide');
        })
        AOS.init();
    </script> 
</html>