<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset=UTF-8">
    <title>Hoàn thành - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/cert.css">

    <body>
    <div class = "container"> 
      <div style = "opacity: 0"> Inlab xin chứng nhận Nguyễn Hà Thu đã hoàn thành xuất sắc khoá đào tạo dán nhãn dữ liệu. Chứng nhận có hiệu lực từ ngày 17 tháng 3 năm 2020 </div>
       <div class = "firstframe">
         <div class = "secondframe">
            <div aria-hidden="true" class = "hiddenbox">
                <div class = "logo">INLAB</div>
                <div class = "label" > CHỨNG NHẬN </div> 
                <div class = "name"> NGUYỄN HÀ THU </div>
                <div style = " margin-top: 10px;"> đã hoàn thành xuất sắc khoá đào tạo </div>
                <div style = " margin-top: 10px;"> DÁN NHÃN DỮ LIỆU </div>
                <div class = "date"> Chứng nhận có hiệu lực từ ngày 00/00/0000 </div>
            </div>    
        </div>
      </div>

      <button class='start-btn'>Bắt đầu công việc</button>
    </div>
</body>
</html>