<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <!-- Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/contact.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <script src="/js/jquery/jquery.min.js"></script>


    <title>Liên hệ - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>

</head>
<body id ="bg-contact">
  <header>
    <%- include("header.ejs") %>
</header>
        <!-- First part -->
        <div class="heading-text text-warning text-center pt-5">LIÊN HỆ VỚI CHÚNG TÔI</div>
        <div class="overlay" >                
          
        <!-- Fifth part -->
        <div  class="d-flex flex-column align-items-center">
            
            <div class="text-center pt-3 content">Bạn có thể liên lạc với chúng tôi qua</div>
            <div class=" d-flex flex-column justify-content-center justify-content-around pt-5">
             
              <div class="row" data-aos="fade-up" data-aos-duration="1200">
                <div class="col-4 d-flex flex-column justify-content-center align-items-center" >
                  <img href="" src="/img/facebook.png" class="image">
                  <a href="https://www.facebook.com/inlabtechnology/" class="h4 pt-3 ">Inlab Fanpage </a>
                </div>
                <div class="col-4 px-5 d-flex flex-column justify-content-center align-items-center" >
                  <img href="" src="/img/gmail.png" class="image">
                  <a class="h4 pt-3" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=lienhe@inlab.com.vn" target="">lienhe@inlab.com.vn</a>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center align-items-center" >
                  <img href="" src="/img/apple.png" class="image">
                  <a href="" class="h4 pt-3 ">0902425586</a>
                </div>
            </div>

            </div>

            <div class="text-center pt-5 content">Hãy để lại thông tin để chúng tôi có thể trao đổi với bạn</div>
            <form class="form-width" action="/contact" method="POST" id="contactForm">
                <div class="text-center message"></div>
                <div id="form-group">
                  <div class="form-group">
                    <label for="exampleFormControlInput1">Tên</label>
                    <div class="d-flex align-items-center jsx-560990836 jsx-2177858300 input input--icon">
                        <span class="material-icons">
                            account_box
                        </span>  
                    <input class="ml-2"type="Name" name="name" id="exampleFormControlInput1" required="" placeholder="Họ và tên" value="" style="width:100%;border: none; background-color: #F5F4F9;" required>                       
                    </div>   
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Công ty</label>
                    <div class="d-flex align-items-center jsx-560990836 jsx-2177858300 input input--icon">
                        <span class="material-icons">
                            work
                            </span>  
                    <input class="ml-2"type="Name" name="company" id="exampleFormControlInput1" placeholder="Tên công ty" value="" style="width:100%;border: none; background-color: #F5F4F9;" required>                       
                    </div>   
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Số điện thoại</label>
                    <div class="d-flex align-items-center jsx-560990836 jsx-2177858300 input input--icon">
                        <span class="material-icons">
                            phone
                            </span>  
                    <input class="ml-2" type="Name" name="phone" id="exampleFormControlInput1" placeholder="Số điện thoại" value="" style="width:100%;border: none; background-color: #F5F4F9;" required>                       
                    </div>   
                </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email</label>
              <div class="d-flex align-items-center jsx-560990836 jsx-2177858300 input input--icon">
                <span class="material-icons">
                    email
                    </span>  
            <input class="ml-2" type="email" name="email" id="exampleFormControlInput1" placeholder="Email" value="" style="width:100%;border: none; background-color: #F5F4F9;" required>                       
            </div>                  
        </div>

            <div class="pt-3">Chủ đề bạn quan tâm:</div>
            <div class="container">
                <div class="row">
                  <div class="col-sm">

                      <div class="form-check pt-3">
                        <label><input type="checkbox" class="form-check-input"  name="interested" value="image-classification">Image Classification</label>
                        <a href="/demo/image_classification" style="color: blue;"><b> | Demo</b></a>
                      </div>

                      <div class="form-check pt-3">
                        <label><input type="checkbox" class="form-check-input"  name="interested" value="image-object-detection">Image Object Detection</label>
                        <a href="/demo/image_object_detection" style="color: blue;"><b> | Demo</b></a>
                      </div>

                      <div class="form-check pt-3"> 
                        <label><input type="checkbox" class="form-check-input"  name="interested" value="image-key-points">Image Key Points</label>
                        <a href="/demo/image_key_point" style="color: blue;"><b> | Demo </b></a>
                      </div>

                      <div class="form-check pt-3">
                        <label><input type="checkbox" class="form-check-input"  name="interested" value="image-segmentation">Image Segmentation</label>
                        <a href="/demo/image_segmentation" style="color: blue;"><b> | Demo</b></a>
                      </div>

                      <div class="form-check pt-3">                        
                        <label><input type="checkbox" class="form-check-input"  name="interested" value="image-ellipse">Image Ellipse</label>
                        <a href="#" style="color: blue;"><b> | Demo</b></a>
                      </div>
                      
                      <div class="form-check pt-3">                        
                        <label><input type="checkbox" class="form-check-input"  name="interested" value="image-polygons">Image Polygons</label>
                        <a href="/demo/image_polygons" style="color: blue;"><b> | Demo</b></a>
                      </div>

                      <div class="form-check pt-3">                        
                        <label><input type="checkbox" class="form-check-input"  name="interested" value="text-named-entity-recognition">Text Named Entity Recognition</label>
                        <a href="/demo/text_ner" style="color: blue;"><b> | Demo</b></a>
                      </div>

                  </div>
                  <div class="col-sm">

                    <div class="form-check pt-3">                        
                        <label><input type="checkbox" class="form-check-input"   name="interested" value="text-sentiment-analysis">Text Sentiment Analysis</label>
                        <a href="/demo/text_sentiment_analysis" style="color: blue;"><b> | Demo</b></a>
                      </div>

                      <div class="form-check pt-3">
                        
                        <label><input type="checkbox" class="form-check-input"   name="interested" value="dialog-analysis">Dialogue Analysis</label>
                        <a href="/demo/dialogue_analysis" style="color: blue;"><b> | Demo</b></a>
                      </div>
                      <div class="form-check pt-3">
                        
                        <label><input type="checkbox" class="form-check-input"   name="interested" value="audio-transcription">Audio Transcription</label>
                        <a href="/demo/audio_transcription" style="color: blue;"><b> | Demo</b></a>
                      </div>
                      <div class="form-check pt-3">
                        
                        <label><input type="checkbox" class="form-check-input"   name="interested" value="audio-classification">Audio Classification</label>
                        <a href="/demo/audio_classification" style="color: blue;"><b> | Demo</b></a>
                      </div>
                      <div class="form-check pt-3">
                        
                        <label><input type="checkbox" class="form-check-input"   name="interested" value="audio-regions">Audio Regions</label>
                        <a href="/demo/audio_regions" style="color: blue;"><b> | Demo</b></a>
                      </div>
                      <div class="form-check pt-3">
                        
                        <label><input type="checkbox" class="form-check-input"   name="interested" value="video-classifier">Video Classifier</label>
                        <a href="/demo/video_classifier" style="color: blue;"><b> | Demo</b></a>
                      </div>
                      <div class="form-check pt-3">
                        
                        <label><input type="checkbox" class="form-check-input"   name="interested" value="pairwise-comparison">Pairwise Comparison</label>
                        <a href="/demo/pairwise_comparison" style="color: blue;"><b> | Demo</b></a>
                      </div>
                  </div>
                </div>
              </div>

            <div class="form-group pt-5">
              <label for="exampleFormControlTextarea1" >Nội dung</label>
               <textarea name="content" class="jsx-2649193108" ></textarea></div>


            <div class ="justify-content-center d-flex pb-5">        
                <button type="submit" id="submit" class="contact btn btn-warning btn-lg btn-block">Gửi</button><br><br>
              </div> 
                </div>
              </form>


        </div>

        
        <!-- Footer -->
        <footer>
          <%- include("footer.ejs") %>
      </footer>  

        <script>

          $('#contactForm').submit(function (e) {
              //alert(newbody);
              e.preventDefault();

              var interested = [];
              $.each($("input[name='interested']:checked"), function(){
                interested.push($(this).val());
              });
              
              var $form = $( this ),
              input_name = $form.find( "input[name='name']" ).val(),
              input_company = $form.find( "input[name='company']" ).val(),
              input_phone = $form.find( "input[name='phone']" ).val(),
              input_email = $form.find( "input[name='email']" ).val(),
              input_interested = interested,
              input_content = $form.find( "textarea[name='content']" ).val(),
    
              url = $form.attr( "action" );
    
              var posting = $.post( url, { name: input_name, company: input_company, phone: input_phone, email: input_email, interested: input_interested, content: input_content } );
              
              var overlay = document.getElementsByClassName("overlay")[0]
              posting.done(function (data) {
                document.getElementById("form-group").style.display = "none";
                overlay.innerHTML = 'Chúng tôi đã nhận được tin nhắn của bạn và sẽ liên lạc lại với bạn trong thời gian ngắn nhất.'
                overlay.classList ='text-center message received'
                
                var return_button = document.createElement('a')
                return_button.id = 'back-button'
                return_button.classList = "btn-warning btn startbtn nav-item nav-link text-center mt-4 d-flex justify-content-center align-items-center contact-sale"
                return_button.type = "button"
                return_button.href = "/"
                return_button.innerHTML = 'Quay lại'
                overlay.appendChild(return_button)
              });
          })
    
        </script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

    <script>
        $(document).on('click',function(){
        $('.collapse').collapse('hide');
        })
        AOS.init();
    </script> 
</html>