<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <div class = "container">
        <!-- <header class = "bar topbar" >
            
            <div class ="logo">
                <img src="/img/icon.png" alt="logo">
            </div>
            <div class = "dashboard">
                Dashboard
            </div>
            <div class = "login">
                <p>Xin chào, Thu | <a href="/logout">Đăng xuất</a></p>
            </div>
        </div>
        </header> -->
        <div class = "content">
            <div class = "title">
                <h1>Tổng quan</h1>
            </div>
            <div style="
            text-align: center;">
                <a>Chào mừng bạn đến với chương trình đào tạo chứng chỉ dán nhãn trực tuyến</a>
            </div>

            <main class = "main">
                
                <div class = "tasks">
                    <hr>
                </div>
                    <div class = "title-status">
                        <a href="/index">
                        <button class="btn">
                            Bắt đầu quá trình đào tạo
                        </button>
                        </a>

                    
                </div>
                <div class = "foot">
            </div>
                <!-- <footer>
                    <div class = "bar lowbar">
                        <div class = lowbar-container>
                            <img src="/img/icon.png" alt="logo">
                            <div class = "lowbar-content">                               
                                <a href="/about">Về chúng tôi</a> | <a href="#">Quay lại đầu trang</a>
                            </div>
                        </div>
                    </div>
                </footer> -->

            </main>
        </div>
    </div>
</body>


</html>