<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/dashboardcss">
    <title>Dashboard</title>
</head>
<body>
    <div class = "container">
        <header class = "bar topbar" >
            
            <div class ="logo">
                <img src="img/icon.png" alt="logo">
            </div>
            <div class = "dashboard">
                Dashboard
            </div>
            <div class = "login">
                <p>Xin chào, Thu | <a href="#">Đăng xuất</a></p>
            </div>
        </div>
        </header>
        <div class = "content">
            <div class = "title">
                <h1>Tổng quan</h1>
            </div>

            <main class = "main">

                <div class = "overview">
                    <div class = "detail-text">
                        <span>Bạn đã kiếm được</span>
                        <div class = "detail-result">100.000 đ</div>
                    </div>
                    <hr>
                    <div class = "detail">
                        <span>Công việc mới</span>
                        <div class = "detail-result">6</div>
                    </div>
                    <hr>
                    <div class = "detail">
                        <span>Công việc đang làm</span>
                        <div class = "detail-result">5</div>
                    </div>
                    <hr>
                </div>
                
                <div class = "tasks">
                    <div class = "title">
                        <h1>Danh sách công việc</h1>
                    </div>
                    <div class = "title-status">
                        <h2>Công việc đang làm</h2>
                    </div>
                    
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            
                        </div>
                    </div>

                      <div class = "title-status">
                        <h2>Công việc đang làm</h2>
                    </div>

                <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class = "item-project">
                                    Dự án A
                                </div>
                                <div class = "item-title">
                                    Dán nhãn dữ liệu âm thanh
                                </div>
                                <div class = "item-cagotories">
                                    Khoa học
                                </div>
                                <div class = "price">
                                    100 đồng/ 1 nhãn
                                </div>
                            </div>
                            
                        </div>


                        <script src = "dashboard.js"></script>
                      <script src="js/swiper.min.js"></script>
                      <script>
                            var swiper = new Swiper('.swiper-container', {
                            
                            slidesPerView: 5,
                            spaceBetween: 15,
                            resistanceRatio: 0,
                            breakpoints: {
                                1181: {
                                    slidesPerView: 4
                                },
                                1180: {
                                    slidesPerView: 3
                                },
                                1020: {
                                    slidesPerView: 2
                                },
                                700: {
                                    slidesPerView: 1
                                }
                            }
                          });
                      </script>
                    
                </div>

                <footer>
                    <div class = "bar lowbar">
                        <div class = lowbar-container>
                            <img src="img/icon.png" alt="logo">
                            <div class = "lowbar-content">                               
                                <a href="#">Về chúng tôi</a> | <a href="#">Quay lại đầu trang</a>
                            </div>
                        </div>
                    </div>
                </footer>

            </main>
        </div>
    </div>
</body>


</html>