<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <title>Dashboard - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
</head>
<body>
    <div class = "container">
        <!-- <header class = "bar topbar" >
            
            <div class ="logo">
                <img src="/img/icon.png" alt="logo">
            </div>
            <div class = "dashboard">
                Dashboard
            </div>
            <div class = "login">
                <p>Xin chào, Thu | <a href="/logout">Đăng xuất</a></p>
            </div>
        </div>
        </header> -->
        <header>        <%- include("header.ejs") %>
        </header>
        <div class = "content">

            <div class = "title">
              <h1>Tổng quan</h1>
            </div>

            <div style="text-align: center;">
              <a>Chào mừng bạn <% name %> đến với chương trình đào tạo chứng chỉ dán nhãn trực tuyến</a>
            </div>

            <main class = "main">
                
              <div class = "tasks">
                  <hr>
              </div>

              <div class = "title-status">
                  <a href="/text_sentiment">
                  <button class="btn">
                      Bắt đầu quá trình đào tạo
                  </button>
                  </a>
              </div>
               
              <!-- <a href="/dashboard">Trang chủ</a>
              <a href="/logout">Đăng xuất</a> -->

              <footer>
                <div class = "bardb lowbar">
                          <a href="/logout">Đăng xuất</a>
                </div>
              </footer> 

            </main>
        </div>
    </div>

      
</body>


</html>