<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <link href="/css/dataset.css" rel="stylesheet">
    <link href="/css/about2.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
    <title>Dataset - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
    
  </head>
<body>
  <header>
    <%- include("header.ejs") %>
  </header>
  <h2 id="dataset-header" class="heading-text text-warning text-center">Dataset</h2>
  <div class="table-wrapper">
    <table class="table-container">
      <thead class="resource-table-header text-primary">
        <tr>
          <th id="dataset">Dataset</th>
          <th id="date">Date</th>
          <th id="location">Location</th>
          <th id="data-provided">Data Provided</th>
          <th id="annotation">Annotation</th>
          <th id="diversity">Diversity</th>
          <th id="traffic">Traffic</th>
        </tr>
      </thead>
      
      <tbody>
          <tr class="single-dataset">
            <th class="dataset-content">
              <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Facebook_icon_2013.svg" alt="logo" class="table-logo"></img>
              <div>
                <div>A2D2</div>
                <div class="text-secondary">by Audi Electronics Venture</div>
              </div>
            </th>
            <th>2019</th>
            <th>Germany</th>
            <th>Video, Vehicle data</th>
            <th>Bounding Box</th>
            <th>Season</th>
            <th>Urban</th>
        </tr>
      </tbody>
    
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    var singleDataset = document.getElementsByClassName('single-dataset')
    for (var i=0; i<singleDataset.length; i++) {
      singleDataset[i].addEventListener('click', function() {
        window.location.href = '/resources/dataset/treebank_sentiment'
      })
    }
  </script>
</body>