<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- vendor css -->
    <link href="/css/db-requester.css" rel="stylesheet">

</head>
<body class="">

	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				
				<div class="">
					<div class="main-menu-header">
						<div class="user-details">
							<div>Xin chào InfoRe!</div>
						</div>
					</div>
					<div class="collapse" id="nav-user-link">
						<ul class="list-unstyled">
							<li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>View Profile</a></li>
							<li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
							<li class="list-group-item"><a href="auth-normal-sign-in.html"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
						</ul>
					</div>
				</div>
				
				<ul class="nav pcoded-inner-navbar ">
					<!--
					<li class="nav-item pcoded-menu-caption">
					    <label>Navigation</label>
					</li>
					-->
					<li class="nav-item">
					    <a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="auth-signup.html" target="_blank">Sign up</a></li>
					        <li><a href="auth-signin.html" target="_blank">Sign in</a></li>
					    </ul>
					</li>
				</ul>	
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
				<div class="m-header">
					<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
					<a href="#!" class="b-brand">
						<img src="/img/logo.png" alt="" class="logo">
						<img src="/img/logo.png" alt="" class="logo-thumb">
					</a>
					<a href="#!" class="mob-toggler">
						<i class="feather icon-more-vertical"></i>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
							<div class="search-bar">
								<input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</li>
					</ul>
					
				</div>
				
			
	</header>
	<!-- [ Header ] end -->

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Requester</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
			<!-- [ sample-page ] start -->
			
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
						<h5 class ="d-flex justify-content-between align-items-center">Dự án hiện tại
						<button id="myBtn" type="button" class="btn btn-outline-success btn-sm d-flex align-item-center">
							<i class="material-icons" data-toggle="tooltip" title="Add" style="font-size: 20px; color: #9CCC65">add</i>
							Thêm dự án mới</button>
						</h5>
					</div>
                    <div class="card-body table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên dự án</th>
                                        <th>Loại dữ liệu</th>
										<th>Chủ đề</th>
										<th>Số tiền/ 1 nhãn</th>
										<th>Thời gian bắt đầu</th>
										<th>Thời gian bắt đầu</th>
										<th>Tình trạng</th>
										<th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Dự án A</td>
                                        <td>Text sentiment</td>
										<td>Khoa học</td>
										<td>100vnd</td>
										<td>3/5/2020</td>
										<td>5/5/2020</td>
										<td>8/10 đã hoàn thành</td>
										<td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit" style="font-size: 20px; color: #FEC737">&#xE254;</i></a><a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons ml-2" data-toggle="tooltip" title="Delete" style="font-size: 20px; color: #F5584B">&#xE872;</i></a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Dự án A</td>
                                        <td>Text sentiment</td>
										<td>Khoa học</td>
										<td>100vnd</td>
										<td>3/5/2020</td>
										<td>5/5/2020</td>
										<td>8/10 đã hoàn thành</td>
										<td><a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit" style="font-size: 20px; color: #FEC737">&#xE254;</i></a><a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons ml-2" data-toggle="tooltip" title="Delete" style="font-size: 20px; color: #F5584B">&#xE872;</i></a></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
			</div>
			
		<!-- The Modal -->
		<div id="myModal" class="modal">

		<!-- Modal content -->
			<div class="col-sm-8 modal-content bg-transparent border-0">
                <div class="card">
                    <div class="card-header">
                        <h5>Thêm dự án mới</h5>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
								<div class="col-md-12">
									<form>
										<div class="form-group row">
											<label for="inputEmail3" class="col-sm-3 col-form-label">Tên dự án</label>
											<div class="col-sm-9">
												<input type="name" class="form-control" id="inputName" placeholder="Tên dự án">
											</div>
										</div>
										<div class="form-group row">
											<label for="inputEmail3" class="col-sm-3 col-form-label">Loại dữ liệu</label>
											<div class="col-sm-9">
												<select class="custom-select" id="inputGroupSelect01">
													<option selected>Chọn</option>
													<option value="1">Text sentiment</option>
													<option value="2">Text sentiment</option>
													<option value="3">Text sentiment</option>
												</select>
											</div>

										</div>
										<div class="form-group row">
											<label for="inputEmail3" class="col-sm-3 col-form-label">Chủ đề</label>
											<div class="col-sm-9">
												<input type="name" class="form-control" id="inputName" placeholder="Chủ đề">
											</div>
										</div>
										<div class="form-group row">
											<label for="inputEmail3" class="col-sm-3 col-form-label">Số tiền/ 1 nhãn </label>
											<div class="col-sm-4">
												<div class="input-group">
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													<div class="input-group-append">
														<span class="input-group-text">vnd</span>
													</div>
												</div>											</div>
										</div>

										<div class="form-group row">
											<label for="inputEmail3" class="col-sm-3 col-form-label">Thời gian bắt đầu</label>
											<div class="col-sm-9">
												<input type="name" class="form-control" id="inputName" placeholder="Tên dự án">
											</div>
										</div>
										<div class="form-group row">
											<label for="inputEmail3" class="col-sm-3 col-form-label">Thời gian kết thúc</label>
											<div class="col-sm-9">
												<input type="name" class="form-control" id="inputName" placeholder="Tên dự án">
											</div>
										</div>
										<div class="form-group row">
											<label for="inputEmail3" class="col-sm-3 col-form-label">Upload dữ liệu</label>
											<div class="col-sm-9">
												<div class="custom-file">
													<input type="file" class="custom-file-input" id="inputGroupFile01">
													<label class="custom-file-label" for="inputGroupFile01">Choose file</label>
												</div>											
											</div>
										</div>

										<div class="form-group row">
											<div class="col-sm-12 d-flex justify-content-center">
												<button type="submit" class="btn d-flex justify-content-end btn-warning">Submit</button>
											</div>
										</div>
									</form>
								</div>
                        </form>
                    </div>
                </div>
            </div>

		</div>
            <!-- [ sample-page ] end -->
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
    
	<!-- Required Js -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script>
	// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}</script>
</body>

</html>
