<!DOCTYPE html>
<html>
<head>
    <title>Lỗi - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<style type="text/css">
</style>
<body>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label >Tải lên không thành công. Thiếu file hoặc nhãn</label><br>
    <label >Xin mời tải lại file vào bên dứoi</label><br>
      <label >Chọn file</label>
      <input type="file" name="file" class="input"></input><br>
      <label class = "label">Bị Covid</label><br>
        <input type="checkbox" name="check" value="true">Có</input>
      <input type="checkbox" name="check" value="false">Không</input><br>
        <button type="submit" >Submit</button>
    </form>
                    
</body>
</html>
