<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    
</head>
<body>
    <div class="footer">
        Copyright © 2020 InLab. All rights reserved.
        </div>
    </div>    
</body>
</html>