<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/about2.css">
    <title>HEADER</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light mt-3"  id="navbar-example">
        <a class="navbar-brand" href="/">
            <img src="/img/logo.png" class="logo">
        </a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="nav navbar-nav justify-content-between">
            <a href="/" class="header-item nav-item nav-link pr-5" >Trang chủ</a>
            <a href="/info" class="header-item nav-item nav-link pr-5" >Về chúng tôi</a>
            <a href="/resources/dataset" class="header-item nav-item nav-link pr-5" >Resources</a>
            <a href="/project_manage" class="header-item nav-item nav-link pr-5" >Quản lý Projects</a>
            <a href="/contactsale" class="header-item nav-item nav-link pr-5">Liên hệ</a>
            <a href="/login" class="header-item nav-item nav-link pr-5">Đăng nhập</a>
          </div>
        </div>
      </nav>
    
</body>
</html>