<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://code.jquery.com https://cdnjs.cloudflare.com https://stackpath.bootstrapcdn.com https://unpkg.com unsafe-inline;  media-src *">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <!-- Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/about2.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Inlab - Dán nhãn dữ liệu</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>

</head>

<body data-spy="scroll" data-target="#navbar-example">

    <header>
        <%- include("header.ejs") %>
    </header>

        <!-- First part -->
        <div class="overlay " >
                
                <div class="container">
                    <div class="row">
                      <div class="col-sm">
                        <div class="col-sm d-flex justify-content-center">
                            <img class="blindimg" src="/img/undraw_pedestrian_crossing_l6jv.png"></img>
                        </div>
                            <div class="d-flex  d-flex flex-column justify-content-center align-items-center">
                                <div class="heading text-dark text-center" data-aos="fade-up" data-aos-duration="1000">Inlab - vì cuộc sống tốt đẹp hơn cho người khiếm thị</div>
                                <div class="second-heading text-dark text-center mt-3" > Nền tảng nguồn lực cộng đồng về dữ liệu tiên phong tại Việt Nam</div>
                                    <a type="button" href="/contactsale" class="btn-warning btn startbtn nav-item nav-link text-center mt-4 d-flex justify-content-center align-items-center contact-sale">Bạn có dữ liệu cần được dán nhãn?</a>
                                    <a id="upload" type="button" href="/upload" class="btn btn-dark startbtn nav-item nav-link d-flex justify-content-center align-items-center">Đóng góp dữ liệu hỗ trợ chống covid19</a>
                
                            </div>
                         </div>

                 </div>
                </div>

                  
        </div>


        <!-- Second part -->

        <div class="bg2 d-flex flex-column justify-content-center align-items-center" id="second">
            <div class="heading-text text-warning" data-aos="fade-right" data-aos-duration="1200">GIỚI THIỆU</div>
            <div class="content text-white text-wrap text-justify pt-4  " data-aos="fade-left" data-aos-duration="1200">    &emsp;&emsp;Nền tảng nguồn lực cộng đồng (Crowd Sourcing) là nền tảng hỗ trợ các cá nhân, tổ chức, doanh nghiệp hoàn thành công việc, nhiệm vụ bằng cách cộng tác với lực lượng lao động bên ngoài (ví dụ: dán nhãn dữ liệu, xác thực thông tin, khảo sát nhanh, ...)
                <br>
                &emsp;&emsp;Nền tảng này sẽ trở thành trợ thủ đắc lực cho các cá nhân, nhà phát triển, công ty, tổ chức cần nhiều dữ liệu để đẩy mạnh việc nghiên cứu, thử nghiệm và phát triển các mô hình học máy
            </div>
        </div>

        <!-- Third part -->

        <div class="bg3 bg-white d-flex flex-column justify-content-center align-items-center " id="third">
            <div class="heading-text text-dark intro pt-5" data-aos="fade-up" data-aos-duration="1200">VẤN ĐỀ</div>

            <div class="vande-content d-flex flex-column justify-content-center justify-content-around pt-5">
                <div class="row pt-5"  data-aos="fade-up" data-aos-duration="1200">
                    <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                        <div class="text-warning h2"> 6.2</div>
                        <div class="h4">triệu người</div>
                    </div>
                    <div class="col-8 d-flex align-items-center  ">
                        <div class="h3 ">Theo báo cáo điều tra dân số của Tổng cục Thống kê công bố tháng 1 năm 2019, Việt Nam có 6.2 triệu người khuyết tật từ 2 tuổi trở lên, chiếm 7.06% tổng dân số</div>
                    </div>
                </div>
                <div class="row pt-5" data-aos="fade-up" data-aos-duration="1200">
                    <div class="col-4 d-flex flex-column justify-content-center align-items-center" >
                        <div class="text-warning h2"> 1.03</div>
                        <div class="h4">triệu người</div>
                    </div>
                    <div class="col-8 d-flex align-items-center  ">
                        <div class="h3 "> Trong số những người khuyết tật kể trên, có 1.03 triệu người bị khuyết tật thị lực (khiếm thị)</div>
                    </div>
                </div>
                <div class="row pt-5"  data-aos="fade-up" data-aos-duration="1200">
                    <div class="col-4 d-flex flex-column justify-content-center align-items-center" >
                        <div class="text-warning h2"> 9.000</div>
                        <div class="h4">người</div>
                    </div>
                    <div class="col-8 d-flex align-items-center  ">
                        <div class="h3 "> Tính đến thời điểm hiện tại, toàn quốc có 9.000 người khiếm thị biết sử dụng điện thoại thông minh và máy vi tính</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Fourth part -->
        <div class="bg4  bg-white  d-flex flex-column align-items-center pt-5" id="fourth">
            <div class="heading-text text-dark pt-5" data-aos="zoom-in" data-aos-duration="1200" >ỨNG DỤNG</div>
            <div class="container d-flex justify-content-center align-items-center pt-5">
                <div class="row" >
                  <div class="col-md d-flex flex-column align-items-center pb-5" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="/img/audio.png" class="image">
                    <div class="h3 text-center pt-3">Dán nhãn dữ liệu </div>
                  </div>
                  <div class="col-md d-flex flex-column align-items-center pb-5" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="/img/micro.png" class="image">
                    <div class="h3 text-center pt-3">Tạo dữ liệu âm thanh để tổng hợp giọng nói</div>
                  </div>
                  <div class="col-md d-flex flex-column align-items-center pb-5" data-aos="zoom-in" data-aos-duration="1200">
                    <img src="/img/speak.png" class="image">
                    <div class="h3 text-center pt-3">Tạo văn bản dạng hội thoại</div>
                  </div>
                </div>
              </div>
        </div>

        <div class="d-flex flex-column align-items-center pt-5 bg-warning">
            <div class="heading-text text-center " >Bạn có dữ liệu cần dán nhãn?</div>
                <div class ="d-flex pb-5 mt-3 contact justify-content-center">        
                    <a type="button" href="/contactsale" class="btn-contact btn nav-item nav-link text-center mt-3 d-flex justify-content-center align-items-center ">Liên hệ chúng tôi</a>
                  <!--  <a type="button" href="/contactsale" class="btn-white btn nav-item nav-link text-center mt-3 d-flex justify-content-center align-items-center">Tạo tài khoản mới</a>
  -->
                </div> 
              </form>

        </div>


        
        <!-- Footer -->
        <footer>
            <%- include("footer.ejs") %>
        </footer>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

    <script>
        $(document).on('click',function(){
        $('.collapse').collapse('hide');
        })
        AOS.init();
    </script> 
</html>