
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/styles.css" rel="stylesheet">
  <script defer src="/js/script.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600&display=swap" rel="stylesheet">
  <title>Hướng dẫn</title>


</head>
<body>
  <!-- <header class = "bar topbar" >          
    <div class ="logo">
      <img src="img/icon.png" alt="logo">
    </div>
    <div class = "dashboard">
        Training
    </div>
    <div class = "login">
        <p>Xin chào, Thu | <a href="#">Đăng xuất</a></p>
    </div>
  </header> -->
  <div id="content" clas="container">
    <div class="flex-container">
      <div class="empty">
      </div>
      <div class="title" id="title">Hướng dẫn</div>
      <div id="question" class="data">
        Bạn hãy chọn 1 trong bốn loại nhãn: Tích cực/ Tiêu cực/ Trung tính/ Không biết, tương ứng cho câu sau đây:
      </div>
      <!-- <div id="shortcut_label" class="shortcut_label hide">
        <input id="sl_label" placeholder="Điền nhãn muốn chọn" type="text" >
        <button onclick="goto_label()" class="btn">Chọn</button>
      </div> -->
      <div id="label" class="label hide">

        <div id="answer-buttons" class="btn-grid">
        </div>
      </div>
      <div class="empty hide">
      </div>
      <div class="controls">
        <button id="start-btn" class="start-btn">Bắt đầu</button>
        <button id="next-btn" class="next-btn btn hide">Tiếp tục</button>
        <button id="next-lvl-btn" class="next-btn btn hide">Tiếp tục</button>
      </div>
  </div>
</div>

<div id="result" class="result hide">
  <div class="empty"></div>
  <div class="title">Kết quả</div>
  <div id="result_content" class="data">
    Chúc mừng bạn đã hoàn thành phần đào tạo phân tích cảm xúc văn bản. Bây giờ hãy bắt đầu với phần đào tạo tiếp theo.
  </div>
  <a id="btn-next-lvl" style="width: 70%" class="" href="/training_audio"><button class='start-btn'>Tiếp tục</button></a>
  <a id="btn-again" style="width: 70%" class="hide" href="/index"><button class='start-btn'>Làm lại</button></a>

</div>

<!-- <footer>
  <div class = "bar lowbar">
      <div class = lowbar-container>
          <img src="img/icon.png" alt="logo">
          <div class = "lowbar-content">                               
              <a href="#">Về chúng tôi</a> | <a href="#">Quay lại đầu trang</a>
          </div>
      </div>
  </div>
</footer> -->
</body>
<script>

var questions = [
  {
    id: '1',
    question: 'Cửa hàng này chán quá',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: true},
      { text: 'Trung tính', correct: false},
      { text: 'Không biết', correct: false}
    ]
  },
  {
    id: '2',
    question: 'Thời tiêt thật đẹp',
    answers: [
      { text: 'Tích cực', correct: true},
      { text: 'Tiêu cực', correct: false},
      { text: 'Trung tính', correct: false},
      { text: 'Không biết', correct: false}
    ]
  },
  {
    id: '3',
    question: 'Đi làm',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: false},
      { text: 'Trung tính', correct: true},
      { text: 'Không biết', correct: false}
    ]
  },
  {
    id: '4',
    question: '111111111111',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: false},
      { text: 'Trung tính', correct: false},
      { text: 'Không biết', correct: true}
    ]
  },
  {
    id: '5',
    question: 'Em làm chưa được tốt',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: true},
      { text: 'Trung tính', correct: false},
      { text: 'Không biết', correct: false}
    ]
  },
  {
    id: '6',
    question: 'Đi đấu thế này ?',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: false},
      { text: 'Trung tính', correct: true},
      { text: 'Không biết', correct: false}
    ]
  },
  {
    id: '7',
    question: 'Việc làm thiếu trách nhiệm đã để lại nhiều hậu quả',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: true},
      { text: 'Trung tính', correct: false},
      { text: 'Không biết', correct: false}
    ]
  },
  {
    id: '8',
    question: 'Món này ngon quá',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: true},
      { text: 'Trung tính', correct: false},
      { text: 'Không biết', correct: false}
    ]
  },
  {
    id: '9',
    question: 'This branch has no conflicts with the base branch',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: false},
      { text: 'Trung tính', correct: false},
      { text: 'Không biết', correct: true}
    ]
  },
  {
    id: '10',
    question: 'Cửa hàng này chán quá',
    answers: [
      { text: 'Tích cực', correct: false},
      { text: 'Tiêu cực', correct: true},
      { text: 'Trung tính', correct: false},
      { text: 'Không biết', correct: false}
    ]
  }
]

</script>
</html>