
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <script defer src="/js/labeling.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Đào tạo - Inlab</title>
  <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=U97eTLrB"></script>
  <script src="/js/jquery/jquery.js"></script>


</head>
<body>
  <div id="content" clas="container">
    <div class="flex-container">
      <div class="emptytop">
      </div>
      <div class="title" id="title">Câu hỏi</div>
      <div id="question" class="data">
      </div>
      <audio id="src_audio" class="hide" src="" type="audio/mp3"></audio>
      <button id="btn_play" onclick="togglePlay()" class="btn-play-stop hide"><i class="fa fa-play"></i>   Nghe đoạn âm thanh</button>

      <!-- <div id="shortcut_label" class="shortcut_label hide">
        <input id="sl_label" placeholder="Điền nhãn muốn chọn" type="text" >
        <button onclick="goto_label()" class="btn">Chọn</button>
      </div> -->
      
      <div id="label" class="label">

        <div id="answer-buttons" class="btn-grid">
        </div>
      </div>
      <div class="empty hide">
      </div>
      <div class="controls">
        <button id="next-btn" onclick="end_audio(),uploadResult()" class="next-btn btn hide">Tiếp tục</button>
      </div>
  </div>
</div>

<form class="hide" action="/labeling" method="POST">
  <input type="hidden" id="labeled_values" name="labeled_values"><br>
  <input type="hidden" id="labeled_time" name="labeled_time"><br>
  <input type="hidden" id="id" name="id"><br>
  <input type="hidden" id="table" name="table"><br>
</form>

<div id="result" class="result hide">
  <div class="empty"></div>
  <div class="title">Hoàn thành</div>
  <div id="result_content" class="data">
    Bạn đã hoàn thành công việc này. Hãy tiếp tục với các công việc khác ở danh sách công việc.
  </div>
  
  <a id="btn-next-lvl" style="width: 70%" class="" href="/dashboard"><button class='start-btn'>Tiếp tục</button></a>


</div>

<footer>
  <div class = "bar lowbar">
            <a href="/dashboard">Quay lại trang chủ</a>
            <a href="/logout">Đăng xuất</a>
  </div>
</footer> 

<!-- <footer>
  <div class = "bar lowbar">
      <div class = lowbar-container>
          <img src="img/icon.png" alt="logo">
          <div class = "lowbar-content">                               
              <a href="#">Về chúng tôi</a> | <a href="#">Quay lại đầu trang</a>
          </div>
      </div>
  </div>
</footer> -->
</body>

<script>
  var myAudio = document.getElementById("src_audio");
  var isPlaying = false;
  var playElement = document.getElementById("btn_play");

  function togglePlay() {
    if (isPlaying) {
      myAudio.pause()
      playElement.getElementsByTagName('i')[0].classList.remove('fa-pause')
      playElement.getElementsByTagName('i')[0].classList.add('fa-play')

    } else {
      myAudio.play();
      playElement.getElementsByTagName('i')[0].classList.remove('fa-play')
      playElement.getElementsByTagName('i')[0].classList.add('fa-pause')
    }
  };

  myAudio.onended = function() {
    playElement.getElementsByTagName('i')[0].classList.remove('fa-pause')
    playElement.getElementsByTagName('i')[0].classList.add('fa-play')
  };

  function end_audio(){
    if (isPlaying) {
      myAudio.pause()
      playElement.getElementsByTagName('i')[0].classList.remove('fa-pause')
      playElement.getElementsByTagName('i')[0].classList.add('fa-play')
      isPlaying = false;
    }
  }

  myAudio.onplaying = function() {
    isPlaying = true;
  };
  myAudio.onpause = function() {
    isPlaying = false;
};

</script>

<script>
  var data = <%- JSON.stringify(data) %>;
  var table = "<%= name %>";
  var label = [{
    sentiment: [
        { text: 'Tích cực' },
        { text: 'Tiêu cực' },
        { text: 'Trung tính' },
        { text: 'Không biết' }
    ]
}]
</script>
</html>