<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset=UTF-8">
    <title>Đăng nhập - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class = "main"> 
        <div class = "header" >
            <div class = "subheader" >
               <div class= "subheader-content">Muốn kiếm thêm thu nhập? <a class="link" href='/login'><span class="highlight" >Hãy đăng nhập để dán nhãn với InLab<span class="material-icons">
                    arrow_right_alt
                    </span> </a>  </span>        
                </div>
            </div>
        </div>
        <div class = "logobox" aria-hidden="true"ç>
            <a href='/about'>
                <img src="/img/logo.png" alt="inlab logo" class="logo" href='/about'>
            </a>
        </div>
        <div class="box">

        <div class="inputform-box"> 
            <h2 class="header-text">Đăng nhập dành cho Đối Tác</h2>
            <form class="inputform" action="/login" method="post" >
                <input type="text" id="username" name="username" placeholder="Tên đăng nhập" >
                <input type="password" id="password" name="password" placeholder="Mật khẩu" >
                <input type="submit" value="Đăng nhập">  
            </form>
            <a href="/contactsale" >Quên mật khẩu?</a>  
            <a href="/contactsale" class="highlight"  >Tạo tài khoản mới</a>    
        </div>
        </div>

        <div class="footer">
            Copyright © 2020 InLab. All rights reserved.
        </div>   

    </div>
</body>
</html>