<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset=UTF-8">
    <title>Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>
<body>
    <div class = "container"> 
        <div class="box">
        <div class = "logobox" aria-hidden="true"ç>
            <a href='/about'>
                <img src="/img/logo.png" alt="inlab logo" class="logo" href='/about'>
            </a>
        </div>

        <div> 
            <form class="inputform" action="/login" method="post" >
                <h2 style="text-align: center;">Đăng nhập </h2>
                <input type="text" id="username" name="username" placeholder="Tên đăng nhập" >
              
                <input type="submit" value="Đăng nhập">
                <a href="/forgotpass" style="display:none;"><h4>Quên mật khẩu</h4></a>  
                <a href="/signup" class="signup" style="display:none;"><h3>Tạo tài khoản mới <span class="material-icons">
                    arrow_right_alt
                    </span></h3></a>           
         
            </form>
        </div>
        </div>

        <div class="footer">
            Copyright © 2020 InLab. All rights reserved.
        </div>   

    </div>
</body>
</html>