<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <br>
        <h3 id="status-title">Project status: </h3>
        <br>
        <div id="kpis-content">
            <p></p>
        </div>
</html>