<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset=UTF-8">
    <title>Quên mật khẩu</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class = "main"> 

        <div class = "logobox" aria-hidden="true"ç>
            <a href='/about'>
                <img src="/img/logo.png" alt="inlab logo" class="logo" href='/about'>
            </a>
        </div>
        <div class="box">

        <div class="inputform-box"> 
            <h2 class="header-text">Đăng kí dành cho Đối Tác</h2>
            <form class="inputform" action="/signup" method="post" >
                <input type="email" id="email" name="email" placeholder="Email" >
                <input type="password" id="pass" name="password" placeholder="Mật khẩu">
                <input type="password" id="pass" name="password" placeholder="Nhập lại mật khẩu">
                <input type="submit" value="Đăng kí">  
            </form>
        </div>
        </div>

        <footer>
            <%- include("footer.ejs") %>
        </footer>

    </div>
</body>
</html>
