<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset=UTF-8">
    <title>Đăng kí</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class = "container"> 

        <div class = "logobox">
            <img src="/img/icon.png" alt="icon" width = "70" height = "70">
            <h1 class = "headtext">TÊN DỰ ÁN</h1>
        </div>

        <div>
            <form class="inputform">
                <h2>Đăng kí</h2>
                <input type="text" id="name" name="name" placeholder="Họ và tên">
                </br>
                <input type="text" id="bday" name="birthday" placeholder="Ngày sinh">
                </br>
                <input type="text" id="sdt" name="sdt" placeholder="Sdt">
                </br>
                <input type="text" id="uname" name="username" placeholder="Tên đăng nhập">
                </br>
                <input type="password" id="pass" name="password" placeholder="Mật khẩu">
              
                <input type="submit" value="Create account">
              </form>
        </div>


        <div class="footer">
            <p class = "footertext">Về chúng tôi</p>
        </div>

    </div>
</body>
</html>