
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/css/styles.css" rel="stylesheet">
  <script defer src="/js/text_sentiment.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap" rel="stylesheet">
  <title>Đào tạo - Inlab</title>
  <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
  <script src="https://code.responsivevoice.org/responsivevoice.js?key=U97eTLrB"></script>


</head>
<body>
  
  <div id="content" class="container">
    <div class="flex-container">
      <div id="emptybox" class="empty">
      </div>
      <div class="title" id="title">HƯỚNG DẪN</div>
      <div id="question" class="data">
        Bạn hãy chọn 1 trong bốn loại nhãn: Tích cực/ Tiêu cực/ Trung tính/ Không biết, tương ứng cho 20 câu sau đây:
      </div>
      
      <div id="label" class="label hide">

        <div id="answer-buttons" class="btn-grid">
        </div>
      </div>
      <div class="empty hide">
      </div>
      <p id="noti-selected-answer"></p>
      <div class="controls">
        <button id="start-btn" class="start-btn">Bắt đầu</button>
        <button id="next-btn" class="next-btn btn hide" data-correct="false">Tiếp tục</button>
        <button id="result-btn" class="next-btn btn hide" data-correct="false"> Tiếp tục</button>
      </div>
    </div>
  </div>

  <div id="result" class="result hide">
    <div class="empty"></div>
    <div class="title">KẾT QUẢ</div>
    <div id="result_content" class="data">
      Chúc mừng bạn đã hoàn thành phần đào tạo phân tích cảm xúc văn bản. Bây giờ hãy bắt đầu với phần đào tạo tiếp theo.
    </div>
    <a id="btn-next-lvl" style="width: 100%" class="" href="/training_audio"><button class='start-btn'>Tiếp tục</button></a>
    <a id="btn-again" style="width: 100%" class="hide"><button class='start-btn'>Làm lại</button></a>
  </div>

  <footer>
    <div class = "bar lowbar">
              <a href="/dashboard">Quay lại trang chủ</a>
              <a href="/logout">Đăng xuất</a>
    </div>
  </footer> 

</body>

<script>
  var questions = <%-JSON.stringify(list)%>;
</script>

</html>