<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=U97eTLrB"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <title>Dashboard - Inlab</title>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light mt-3"  id="navbar-example">
            <a class="navbar-brand" >
                <img src="/img/logo.png" class="logo">
            </a>
        </nav>
    </header>
    <div class="content">
        <div class="title">
            <h1>Mô tả chung</h1>
        </div>
        <div class="main">
            <div class="overview">
                <div class="detail">
                    <span>Bạn đã kiếm được</span>

                </div>
                <hr />
                <div class="detail">
                    <span>Công việc đang làm</span>

                </div>
                <hr />
            </div>
        </div>
    </div>
    <div class="title">
        <h2>Danh sách công việc</h2>
    </div>
    <div class="list-work">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Tên</th>
                <th scope="col">Mô tả chung</th>
                <th scope="col">Tiền công</th>
              </tr>
            </thead>
            <% list.rows.forEach(function(item){%>
                <tbody>
                    <tr class="item">
                      <td ><%= item.name %></td>
                      <td ><%= item.type %></td>
                      <td ><%= item.rate %></td>
                    </tr>
                  </tbody>
            <% }); %>
          </table>
          <div>
            <a href="/work/list">Xem thêm</a>
          </div>
          
    </div>
    <footer>
        <div class = "bardb lowbar">
                  <a href="/logout">Đăng xuất</a>
        </div>
    </footer> 

    <form action="/work" method="GET">
        <input type="hidden" id="name" name="name" ><br>
    </form>
</body>

<script>

    $(document).on("click", ".item", function(){
        var ele = this;
        $('#name').val($(ele).find("td:first").text());
        read_selected(ele).then(function() {
            $("form").submit();
        })
        
    });
    async function read_selected(ele){
        responsiveVoice.speak("Bạn đã chọn công việc: " + $(ele).find("td:first").text(),'Vietnamese Female')
    }
</script>

</html>