
html, body {
    font-family: 'Roboto', sans-serif;


}
.info{
    background-color: whitesmoke !important;
}

.logo{
    object-fit: cover;
    width:75px;
    height:34px;
}
.contentinfo{
    font-size: 15px;
    font-weight: 300;
    width: 90vw;
}
.first-part{
   padding:20px;
   z-index: 2;

}
.overlay{
    height: 100vh;
    z-index: -1;
}
/* a:hover { 
    color: #F1DF64 !important; 
} */
.heading{
    font-size: 5vh;
    color:black;
    font-weight: 900;
}
.second-heading{
    font-size: 3vh;
    color:black;
    font-weight: 400;
}
.header-box{
    height:80vh;
}
a{
    color:black !important;
}

.btn{
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;
    width: 70%;
    margin-top: 20px;

}
.heading-text{
    font-size: 24px;
    color:black;
    font-weight: 500;
}
.bg2{
    background-color: rgba(0,0,0,1);
    height: 80vh;  
    z-index: 2;
}
.bg3{
    height: 90vh;  
}
.bg4{
    height: 90vh;  
}
.footer{
    height: 8vh;  
    background-color: rgba(0,0,0,0.8);
}
.content{
    font-size: 15px;
    font-weight: 300;
    width: 70vw;
    color: black;
}
.vande-content{
    width: 80vw;
    height: 50vh;
}
.h2{
    font-size: 30px;
}
.h3{
    font-size: 15px;
    font-weight: lighter;
}
.h4{
    font-size: 12px;
    font-weight: bold;
}
.image{
    width: 60px;
    height: 60px;
    object-fit: cover;

}
.udu-content{
    width: 90vw;
    height: 40vh;
}
.text{
    width: 70px;
    height: 70px;
    background-color: green;
}
.form-width{
    width:80%;
    color: black;

}
.contact{
    width:100%;
}
.h5{
    font-weight:bold;
}
.input--icon.jsx-2177858300 {
    padding-left: 32px;
    padding-right: 10px;
}
.input.jsx-2177858300 {
    background-color: #f5f4f9;
    color: hsl(214.60000000000002, 11.6%, 30.7%);
    padding: 7px 10px 7px 14px;
    border-radius: 8px;
    width: 100%;
    font-size: 14px;
    font-family: var(--font-family);
    border: 0;
    box-sizing: border-box;
    line-height: 22px;
    -webkit-transition: 0.3s ease background-color,0.05s ease width;
    -webkit-transition: 0.3s ease background-color,0.05s ease width;
    transition: 0.3s ease background-color,0.05s ease width;
}
.textarea:focus, input:focus{
    outline: none;
}
textarea {
    background: #f5f4f9;
    color: hsl(214.60000000000002,11.6%,30.7%);
    font-family: var(--font-family);
    font-size: 14px;
    width: 100%;
    height: 170px;
    resize: none;
    margin: 0;
    padding: 14px 14px 14px 36px;
    border-radius: 8px;
    border: 0;
    box-sizing: border-box;
    display: block;
    -webkit-transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-appearance: none;
}
.input-icon.jsx-2177858300 {
    position: absolute;
    left: 10px;
    width: 16px;
    height: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    top: calc(50% - 8px);
}

.message {
    margin-top: 40px;
    font-size: 20px;
}

@media screen and (min-width: 773px) {
    .contentinfo{
        font-size: 15px;
        font-weight: 300;
        width: 70vw;
        color: black;
    }
    .second-heading{
        width: 50vw;
    }
    .form-width{
        width:50%;
        min-height: 773px;
    }
    .bg2{
        height: 50vh;  
    }
    .bg3{
        height: 70vh;  
    }
    .bg4{
        height: 40vh;  
    }
    .content {
      font-size: 15px;
      width: 800px;
    }
    .h2{
      font-size: 35px;
    }
    .h3{
        font-size: 15px;
    }
    .h4{
        font-size: 15px;
        font-weight: bold;
    }
    .vande-content{
        height: 50vh;
        width: 60vw;
    }
    .container{
        margin-top:5px;
    }
    .btn{
        width: 40%;
        margin-top: 20px;
    }


}

