html{
  font-family: 'Montserrat', sans-serif;   
  font-size: 15px;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
}


a {
  color: inherit; 
  text-decoration: inherit; 
}

main{
  /*padding-top: 10px;
  padding-left:5%;
  padding-right:5%;*/

}
.logofit{
  object-fit: contain;
  width:50px;
  height:50px;
  margin-left: 5px;
}
.bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #434556;
  position: fixed;
  height: 30px;
  width: 100%;
  margin: 0;
  left: 0px;
  z-index: 10;
  color: white;
  padding-left: 20px;
  
}
.bardb{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434556;
  position: fixed;
  height: 30px;
  width: 100%;
  margin: 0;
  left: 0px;
  z-index: 10;
  color: white;
}
img{
  font-weight: bold;
}

.topbar{
  top: 0;
}
.lowbar{
  bottom: 0;
  font-size: small;
}
.content{
  height:230px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  text-align: center;
}
.empty{
  height:120px;
}
.login{
  padding-right : 20px;
}
.dashboard{
  font-size: 2rem;
  font-weight: bold;
  text-align-last: center;
  bottom: 10px;
}

.detail-result{
  float: right;
}

.title{
  font-weight: bold;
  font-size: small;
text-align: center;
}
.title-status{
  /*display: flex;
  justify-content: center;*/
}

/*slider*/
.container{
  padding: 20px;
}
.swiper-container{
  width: 100%;
}
.swiper-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  margin-top:20px;
  height:52px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  background: #FBDF4B;
  border-radius:5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;   

  /* Center slide text vertically */
  
}
.swiper-wrapper div:hover {
  background: #434556;
  color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding:10px;
  background-color: #24252E;
  
}

.home {
  position: absolute;
  top: 90%;
}

.logout {
  position: absolute;
  top: 90%;
  right: 2%;
  padding-right: 20px;
}
.logoutdb {
  position: absolute;
  top: 95%;
  right: 43%;
}
