
body{
    font-family: 'Roboto', sans-serif;   
    font-weight:100; 
    color: #2D333E;
}
a:link{
    text-decoration: none !important;
}
a:visited {
    text-decoration: none;
}

a:hover {   
    color: #FFDF00;
    /* background-color: transparent; */
}
input {
    -webkit-border-radius:0; 
    border-radius:0;
}
.box{
    justify-content: center;
    align-items: center;
    width:85%;
    margin-top:15px;
    border-radius: 5px;
}
.main{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logobox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px;
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    color: #2D333E;
    background-color: rgba(45, 51, 62,0.1); 
    border-color:white;
    margin-top:15px;
    border:none;
    border-radius: 5px;
}
input[type=text], input[type=password], input[type=email], select{
    outline: none;
}
.header-text{
    font-family: 'Roboto', sans-serif;   
    font-size: 25px; 
}
h4 {
    font-size: 10px;
}
h3 {
    font-size: 12px;

}
::placeholder {
        color: #2D333E;
}
input[type=submit] {
    width: 100%;
    background-color: #FFDF00;
    color: #2D333E;
    padding: 15px 20px;
    margin-top: 20px ;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 1px solid white; 
    border-radius: 5px;

}
  
input[type=submit]:hover {
    background-color: #e0a800;
    /* color: white; */
    border: 1px solid #e0a800; 
  }
.inputform{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    padding-bottom: 15px;
}
.inputform-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left:10px;
    background-color: #24252E;
    color: white;
    font-size: small;
}
.otheroption{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width:300px;
}
.logo{
    width:100px;
    height:50px;
    object-fit: contain; 
}

.contact-sale:hover {
    color: white !important;
}

#upload {
    color: #ccc;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  .signup{
      display: inline;
      justify-content: center;
      align-items: center;
  }
  span{
    vertical-align:middle;

  }
  .footer{
    height: 30px;  
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
   }
   .header{
       position: absolute;
       width:100%;
       height:50px;
       display: flex; 
       justify-content: center;      
       font-weight: normal;
       top: 0;
   }
   .subheader{
        width:85%;
        height:40px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;  
        background-color: rgba(49, 54, 64,0.9);      
        color:white;
        margin-top:8px;
   }
   .subheader-content{
       font-size:12px;
       text-align: center;
   }
   .highlight{
       font-weight: 500;
       color:#FFDF00; 
    }
    .link{
        height:30px;
        width:50px;
    }
   .link:hover{
    border-bottom: 2px solid #FFDF00;
    transition: border .15s;
    position: relative;
    height:30px  ;
    width: 100%;
   }
   @media only screen and (min-width: 600px) {
    .subheader{
        width:450px;
    }
    .subheader-content{
        font-size: 12px;;
    }
    .box{
        width:450px;
    }
  }

