html{
    font-family: 'Barlow Condensed', sans-serif;
    color: #434556;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;   
    padding-right: 20px;   
  }

  
  @media (min-width: 600px) {
    html{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .flex-container{
      width: 600px;
    }
  
  }
  .flex-container > div {
    width: 90%;
    font-size: 15px;
    font-weight: bold;
    color: black;
  }
  #title {
    height: 50px;
    font-size: 28px;
    font-weight: bold;
    color: orangered;
    text-align: center;
  }
  
  img{
    height: 100px;
    margin-top: 10px;

  }
  .start-btn, .btn, .next-btn{
    height:52px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    background: #FBDF4B;
    border-radius:5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;   
  }
  
  .next-btn {
    margin-top: 50px;
  }
  .empty {
    height: 100px;
  }
  #myProgress {
    border-radius: 20px ;
    margin-top: 50px;
    width: 100%;
    background-color: lightgrey;
  }
  
  #myBar {
    width: 1%;
    border-radius: 20px ;
    background-color: #4CAF50;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
  }
