*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  background: white;
}
.percent-count{
  margin: 30px auto;
  text-align: center;
  color: #434556;
}
.progress-bar{
  width: 85% !important;
  height: 26px;
  background-color: #bbb;
  padding: 3px;
  margin: 0px;
}
.progress {
  width: 100%;
  height: 20px;
  background-color: dodgerblue;
}