
html, body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;

    font-size: 13px;
    font-weight: 500;
}

body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    left:0;
    right:0;
    z-index:-2; /* needed to keep in the background */
    background: url('/img/bgabout.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}



.logo{
    object-fit: cover;
    width:75px;
    height:34px;
}

.first-part{
   padding:20px;
   z-index: 2;

}
.overlay{
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
a:hover { 
    color: #F1DF64 !important; 
}
.heading{
    font-size: 30px;
    color:white;
    font-weight: 900;
}
.second-heading{
    font-size: 20px;
    color:white;
    font-weight: 500;
}
.header-box{
    height:80vh;
    width:90%;
    padding-bottom: 10px;
    font-size:15px;
}
.startbtn{
    width: 300px!important;
    margin-top: 20px;
    font-weight: 500;
    font-size:20px;
    height: 70px;
    padding:18px;
}


.btn{
    -webkit-appearance: none !important;
    -moz-appearance: none;
    appearance: none;}
.heading-text{
    font-size: 25px;
    color:white;
    font-weight: 600;
    margin-bottom: 15px;
}

.bg4{
    height: 90vh;  
}
.footer{
    height: 8vh;  
    background-color: rgba(0,0,0,0.8);
}
.content{
    font-size: 15px;
    font-weight: 300;
    width: 70vw;
}
.vande-content{
    width: 80vw;

}
.h2{
    font-size: 20px;
}
.h3{
    font-size: 17px;
    font-weight: lighter;
}
.h4{
    font-size: 15px;
    font-weight: bold;
}

.h5{
    font-size: 10px;
}

.image{
    width: 70px;
    height: 70px;
    object-fit: cover;

}
.udu-content{
    width: 90vw;
    height: 40vh;
}
.text{
    width: 70px;
    height: 70px;
    background-color: green;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height:40px;
  }
  

@media screen and (min-width: 773px) {

    html, body {
        font-size: 15px;
    }
    
    .heading-text{
        margin-bottom: 20px;
        font-size:30px;
    }
    
    .header-box{
        height:80vh;
        width:60%;
    }

    .bg4{
        height: 40vh;  
    }
    .content {
      font-size: 15px;
      width: 800px;
    }
    .h2{
      font-size: 25px;
    }
    .h3{
        font-size: 20px;
    }
    .h4{
        font-size: 18px;
        font-weight: bold;
    }
    .vande-content{
        width: 60vw;
    }

}

input[type="radio"] {
    margin-right: 10px;
  }

  #myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #progressBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    display: none;
  }

.modal-confirm {		
    color: #434e65;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    display: block;
    background-color: #ffc107;
    border-bottom: none;   
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;		
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #eeb711;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645;
    outline: none;
}
.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}
  
