<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset=UTF-8">
    <title>Đổi mật khẩu</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        #check{
            display:none;
        }
        .valid {
            color: green;
            }

        .valid:before {
            position: relative;
            left: -35px;
            content: "✔";
            }

            /* Add a red text color and an "x" when the requirements are wrong */
        .invalid {
            color: red;
            }

        .invalid:before {
            position: relative;
            left: -35px;
            content: "✖";
        }
    </style>
</head>
<body>

    <div class = "main"> 

        <div class = "logobox" aria-hidden="true"ç>
            <a href='/about'>
                <img src="/img/logo.png" alt="inlab logo" class="logo" href='/about'>
            </a>
        </div>
        <div class="box">

        <div class="inputform-box"> 
            <h2 class="header-text">Hãy tiến hành đổi mật khẩu</h2>
            <form class="inputform" action="/changepass" method="post" >
                <input type="password" id="pass" name="password" placeholder="Mật khẩu mới" required>
                <input type="password" id="pass_" name="password" placeholder="Nhập lại mật khẩu" required>
                <p id="check" class="invalid">Nhập lại mật khẩu<b id="mess"> chưa đúng</b> </p>
                <input type="submit" value="Đổi mẩt khẩu">  
            </form>
        </div>
        </div>

        <div class="footer">
            Copyright © 2020 InLab. All rights reserved.
        </div>   

    </div>
</body>
<script type="text/javascript">
    var pass = document.getElementById("pass");
    var pass_ = document.getElementById("pass_");
    var check = document.getElementById("check");
    var mess = document.getElementById("mess");
    pass_.onfocus = function() {
        check.style.display = "block";
    }

    pass_.onkeyup = function () {
        value_pass = pass.value;
        value_pass_ = pass_.value;
        if(value_pass_ == value_pass){
            check.classList.remove("invalid");
            check.classList.add("valid");
            mess.innerText = " đã đúng"
        }
        else{
            check.classList.remove("valid");
            check.classList.add("invalid");
            mess.innerText = " chưa đúng"

        }
    }

</script>

</html>