<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thành công - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="/css/uploadresult.css" rel="stylesheet">

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">



</head>
<body>
    <div class="flex-column d-flex align-items-center justify-content-center bg1">
        <div class = "vande-content flex-column d-flex align-items-center justify-content-center">
            <div>
                <img src="/img/tick.png" alt="icon" width = "70" height = "70">
            </div>
            <div class="h2 mt-5 text-center">
                File của bạn đã được tải lên thành công! 
            </div>  
            <br>
            <h3>Cảm ơn bạn rất nhiều</h3>
            <br>
            <div class="text-center">Đóng góp của bạn là một sự giúp đỡ vô cùng lớn, không chỉ cho dự án này mà còn cho công cuộc đẩy lùi virus COVID-19 tại Việt Nam</div>
            <div class="mt-2 text-center">
                Kết quả của dự án sẽ được gửi đến email của bạn trong thời gian sớm nhất.
            </div>  
            <a href = "/" type="button" class="mt-5 text-center btn btn-dark nav-item nav-link ">Quay lại trang chủ</a>     
        </div>
    </div>  

        
        <!-- Footer -->
        <div class="footer d-flex align-items-center justify-content-center ">
            <div class="text-center  text-white">Copyright © 2020 <a href='/about'>InLab</a>. All rights reserved.</div>
        </div>    



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

    <script>

      $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      });
      
        $(document).on('click',function(){
        $('.collapse').collapse('hide');
        })
        AOS.init();
    </script> 
</html>