<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/
    /4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- vendor css-->
    <link href="/css/db-requester.css" rel="stylesheet">
    <title>Dashboard - Inlab</title>
    <link rel="shortcut icon" type="image/png" href="/img/logoInlabSquare.png">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <style>
        .label-span {
            margin-right: 15px;
            color: black;
            background-color: cadetblue;
            font-size: 12px;
            border-radius: 25%;
        }

        .container4 {
            position: relative;
        }

        .container4 p {
            margin: 0;
            background: yellow;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform:  translate(-50%, 50%);
        }

        #labels-holder {    
            width: fit-content;

        }
    </style>
</head>

<body>
    <!-- [ navigation menu ] start-->
    <nav class="pcoded-navbar menu-light">
        <div class="navbar-wrapper">
            <div class="navbar-content scroll-div">
                <div>
                    <div class="main-menu-header">
                        <div class="user-details">
                            <div>Xin chào !</div>
                        </div>
                    </div>
                    <div class="collapse" id="nav-user-link">
                        <ul class="list-unstyled">
                            <li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>View Profile</a></li>
                            <li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
                            <li class="list-group-item"><a href="auth-normal-sign-in.html"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav pcoded-inner-navbar">
                    <!--<li class="nav-item pcoded-menu-caption">
<label>Navigation</label>
</li>-->
                    <li class="nav-item"><a class="nav-link" href="/dashboard"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a></li>
                    <li class="nav-item pcoded-hasmenu"><a class="nav-link" href="#!"><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
                    <li class="nav-item"><a class="nav-link" href="/logout"><span class="pcoded-micon"><i class="feather icon-logout"></i></span><span class="pcoded-mtext">Đăng xuất</span></a></li>
                        <!-- <ul class="pcoded-submenu">
                            <li><a href="auth-signup.html" target="_blank">Sign up</a></li>
                            <li><a href="auth-signin.html" target="_blank">Sign in</a></li>
                        </ul> -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end-->
    <!-- [ Header ] start-->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-blue">
        <div class="m-header"><a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a><a class="b-brand" href="#!"><img class="logo" src="/img/logo.png" alt=""><img class="logo-thumb" src="/img/logo.png" alt=""></a><a class="mob-toggler" href="#!"><i class="feather icon-more-vertical"></i></a></div>
        <div
            class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="pop-search" href="#!"><i class="feather icon-search"></i></a>
                    <div class="search-bar"><input class="form-control border-0 shadow-none" type="text" placeholder="Search hear"><button class="close" type="button" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                </li>
            </ul>
            </div>
    </header>
    <!-- [ Header ] end-->
    <!-- [ Main Content ] start-->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start-->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Requester</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end-->
            <!-- [ Main Content ] start-->
            <div class="row">
                <!-- [ sample-page ] start-->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="d-flex justify-content-between align-items-center">Dự án hiện tại<button class="btn btn-outline-success btn-sm d-flex align-item-center" id="addbtn" type="button"><i class="material-icons" data-toggle="tooltip" title="Add" style="font-size: 20px; color: #9CCC65;">add</i>Thêm dự án mới</button></h5>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table" id="rows">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Tên dự án</th>
                                            <th>Loại dữ liệu</th>
                                            <th>Thời gian đăng</th>
                                            <th>Thời gian kết thúc</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="addhere">
                                        <tr class="item" style="display:none;">
                                            <td>123</td>
                                            <td>Dự án A</td>
                                            <td>Text sentiment</td>
                                            <td>3/5/2020</td>
                                            <td>5/5/2020</td>
                                            <td><button class="edit removeborder" id="editbtn" onclick="editbtn1()" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit" style="font-size: 20px; color: #FEC737;"></i></button>
                                                <button
                                                    class="delete removeborder" data-toggle="modal"><i class="material-icons ml-2" data-toggle="tooltip" title="Delete" style="font-size: 20px; color: #F5584B;"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Tạo dự án mới-->
                <div class="modal" id="addNewProjectModal">
                    <!-- Modal content-->
                    <div class="col-sm-8 modal-content bg-transparent border-0">
                        <div class="card">
                            <div class="card-header">
                                <h5>Thêm dự án mới</h5>
                            </div>
                            <div class="card-body container4">
                                <form enctype="multipart/form-data" method="POST" action="/create_project" id="create_project_form">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Tên dự án</label>
                                                <div class="col-sm-9"><input class="form-control" id="projectName" name="name" type="name" placeholder="Tên dự án" required></div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Loại công việc</label>
                                                <div class="col-sm-9"><select class="custom-select" id="projectType" name="type" required><option value="audio">Phân loại sắc thái âm thanh</option><option value="sentiment">Phân loại sắc thái văn bản</option><option value="topic">Phân loại nội dung văn bản</option><option value="image_object_detection">Phát hiện vật thể trong ảnh (Image Object Detection)</option><option value="image_description">Mô tả ảnh (Image description)</option><option value="audio_transcription">Tạo phụ đề cho âm thanh (Audio transcription)</option></select></div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Mô tả công việc</label>
                                                <div class="col-sm-9"><input class="form-control" id="projectTheme" name="theme" type="name" placeholder="Mô tả"></div>
                                            </div>
                                            <!-- <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Nhãn dán</label>
                                                <div class="col-sm-4" id = "labels-holder">
                                                    <div class="input-group"><input class="form-control" id="projectLabels" name="labels[]" type="text" required>
                                                    <div class="input-group-append"><button type="button" onclick="moreLabels();">Thêm nhãn</button></div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Số tiền/ 1 nhãn </label>
                                                <div class="col-sm-4">
                                                    <div class="input-group"><input class="form-control" id="projectRate" name="rate" type="number" min="150" step="50" aria-label="Amount (to the nearest dollar)" required>
                                                        <div class="input-group-append"><span class="input-group-text">VNĐ</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Thời gian bắt đầu</label>
                                                <div class="col-sm-9"><input class="form-control" id="projectStarttime" name="starttime" type="datetime-local" placeholder="Thoi gian bat dau" required></div>
                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Thời gian kết thúc</label>
                                                <!-- <label class="col-sm-3 col-form-label" for="inputEmail3">Thời gian bắt đầu</label> -->
                                                <div class="col-sm-9"><input class="form-control" id="projectEndtime" name="endtime" type="datetime-local" placeholder="Thoi gian ket thuc" defaultValue="222"  required></div>                                            </div>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Upload dữ liệu</label>
                                                <div class="col-sm-9">
                                                    <div class="custom-file"><input id="projectDatafile" name="datafile" type="file" required><label class="custom-file-label" for="projectDatafile" >Choose file</label></div>
                                                    <br>
                                                    <!-- <br>
                                                    <br> -->
                                                    <!-- <div id="myProgress">
                                                        <div id="progressBar">0%</div>
                                                    </div> -->
                                                </div>

                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12 d-flex justify-content-center"><button id = "submit_button" class="btn d-flex justify-content-end btn-warning" type="submit">Submit</button></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit dự án hiện có-->
            <div class="modal" id="editCurrProject">
                <!-- Modal content-->
                <div class="col-sm-8 modal-content bg-transparent border-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Chỉnh sửa dự án</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Tên dự án</label>
                                            <div class="col-sm-9"><input class="form-control" id="inputName" type="name" placeholder="Tên dự án"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Loại dữ liệu</label>
                                            <div class="col-sm-9"><select class="custom-select" id="inputGroupSelect01"><option selected="">Chọn</option><option value="sentiment">Phân loại sắc thái văn bản</option><option value="audio">Phân loại sắc thái âm thanh</option><option value="topic">Phân loại nội dung văn bản</option><option value="image_description">Mô tả ảnh (Image description)</option><option value="audio_transcription">Tạo phụ đề cho âm thanh (Audio transcription)</option></select></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Mô tả công việc</label>
                                            <div class="col-sm-9"><input class="form-control" id="inputName" type="name" placeholder="Chủ đề"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Số tiền/ 1 nhãn </label>
                                            <div class="col-sm-4">
                                                <div class="input-group"><input class="form-control" type="text" aria-label="Amount (to the nearest dollar)">
                                                    <div class="input-group-append"><span class="input-group-text">vnd</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Thời gian bắt đầu</label>
                                            <div class="col-sm-9"><input class="form-control" id="inputName" type="name" placeholder="Tên dự án"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Thời gian kết thúc</label>
                                            <div class="col-sm-9"><input class="form-control" id="inputName" type="name" placeholder="Tên dự án"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label" for="inputEmail3">Upload dữ liệu</label>
                                            <div class="col-sm-9">
                                                <div class="custom-file"><input class="custom-file-input" id="inputGroupFile01" type="file"><label class="custom-file-label" for="inputGroupFile01">Choose file</label></div>
                                            </div>
                                            <br>
                                            
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12 d-flex justify-content-center"><button class="btn d-flex justify-content-end btn-success" type="submit">Save</button></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- [ Main Content ] end-->
                    <!-- [ Main Content ] end-->
                    <!-- Required Js-->
                    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                    <script>

                        $(document).ready(function () {
                            $("#create_project_form").submit(function () {
                                $("#submit_button").attr("disabled", true);
                                return true;
                            });

                            $('#projectDatafile').on('change',function(){
                                //get the file name
                                var filePath = $(this).val();
                                var fileName = filePath.replace(/^.*\\/, "");

                                //replace the "Choose a file" label
                                $(this).next('.custom-file-label').html(fileName);
                            })
                        });

                        function moreLabels() {
                            //alert("Hello World")
                            var labels_holder = document.getElementById("labels-holder");
                            var labels_input = document.getElementById("projectLabels");
                            var temp_label = labels_input.value;
                            
                            console.log("temp_span", temp_label);

                            var temp_span = document.createElement('span')
                            temp_span.innerHTML = temp_label;
                            temp_span.classList.add('label-span');

                            var temp_br = document.createElement('br')
                            labels_holder.appendChild(temp_span);
                            labels_holder.appendChild(temp_br);

                            console.log(document.getElementsByName("labels"));
                            labels_input.value = "";
                            
                            return
                        }

                        // Get projectAction
                        var actionSuccess = "";

                        if (actionSuccess == 'project_created') {
                            alert('Tạo dự án thành công');
                        }
                        if (actionSuccess == 'failed') {
                            alert('Rất tiếc, tạo dự án không thành công');
                        }

                        // Get the modal
                        var addNewProjectModal = document.getElementById("addNewProjectModal");
                        var editCurrProject = document.getElementById("editCurrProject");
                        // Get the button that opens the modal
                        var addbtn = document.getElementById("addbtn");
                        var editbtn = document.getElementById("editbtn");
                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        // When the user clicks on the button, open the modal
                        addbtn.onclick = function() {
                            addNewProjectModal.style.display = "block";
                        }
                        editbtn.onclick = function() {
                            editCurrProject.style.display = "block";
                        }
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function() {
                            addNewProjectModal.style.display = "none";
                            editCurrProject.style.display = "none";
                        }
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == addNewProjectModal) {
                                addNewProjectModal.style.display = "none";
                            }
                            if (event.target == editCurrProject) {
                                editCurrProject.style.display = "none";
                            }
                        }
                       
                        var list = JSON.parse('<%- userProjects %>'.replace(/&#34;;/g, '"'));

                        $(document).ready(function() {
                            $('[data-toggle="popover"]').popover();
                        });

                        function getProject() {
                            var cols = ["id","name", "type", "uploadtime", "endtime"];
                            for (var i = 0; i < list.length; i++) {
                                var newRow = document.createElement("tr");
                                newRow.setAttribute("onclick", "cus_info()");
                                newRow.setAttribute("class", "item");
                                newRow.setAttribute("data-toggle", "popover");
                                newRow.setAttribute("data-trigger", "hover");
                                newRow.setAttribute("data-placement", "top");
                                newRow.setAttribute("title", "Thông tin chi tiết");
                                for (var colIndex = 0; colIndex < cols.length; colIndex++) {
                                    var newCell = document.createElement("td");
                                    var val = list[i][cols[colIndex]];
                                    newCell.innerHTML = val;
                                    newCell.style
                                    newRow.append(newCell);
                                }
                                var newCell = document.createElement("td");
                                newCell.innerHTML = "<button onclick='editbtn1()' class='edit removeborder' data-toggle='modal'><i class='material-icons' data-toggle='tooltip' title='Edit' style='z-index:2; font-size: 20px; color: #FEC737'>&#xE254;</i></button><button class='delete removeborder' data-toggle='modal'><i class='material-icons ml-2' data-toggle='tooltip' title='Delete' style='z-index:2; font-size: 20px; color: #F5584B'>&#xE872;</i></button>";
                                newRow.append(newCell);
                                document.getElementById("addhere").appendChild(newRow);
                                document.getElementById("rows").setAttribute("class", "table table-hover");
                            }
                        }
                        //mở trang info
                        $(document).on("click", ".item", function(){
                            var ele = this;
                            var path = "/project/"+$(ele).find("td:nth-child(1)").text()+"/info"
                            window.location = path;
                            
                        });
                        //tạo từng cột theo từng header
                        function Headers(list) {
                            var columns = [];
                            for (var i = 0; i < list.length; i++) {
                                var row = list[i];
                                for (var k in row) {
                                    if ($.inArray(k, columns) == -1) {
                                        columns.push(k);
                                    }
                                }
                            }
                            return columns;
                        }
                        //ấn vào button sẽ ra edit form
                        function editbtn1() {
                            editCurrProject.style.display = "block";
                        }
                        getProject();
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>